



html {
  font-size: 55.5%;
}
body {
  font-size: 1em;
}

@media (max-width: 300px) {
    html { font-size: 65%; }
}

@media (min-width: 500px) {
    html { font-size: 75%; }
}

@media (min-width: 800px) {
    html { font-size: 105%; }
}

@media (min-width: 1200px) {
    html { font-size: 125%; }
}


#main-feedback {
  width: 100%;
  text-align: center;
}


.ui.ui.ui.grey.label {
  background-color: #D1D3D4;
  border-color: #D1D3D4;
  color: #000;
}

.ui.ui.ui.ui.mini.button {
    font-size: .75rem;
}

.my-header {
  border-width: 0px;
}


.footer {
  font-size: .67rem;
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100% !important;
    max-width: 100%;
}

#edit-gatewayid, #edit-interfaceid, #edit-serialid, #edit-siteid, #edit-bed {
  width: 70%;
  height: 50px;
}
